<%= bootstrap_form_with(model: destination_rating, remote: true, local: true, class: 'ratings') do |form| %>
  <% if destination_rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(destination_rating.errors.count, "error") %> prohibited this destination_rating from being saved:</h2>

      <ul>
      <% destination_rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <!--<%= form.number_field :rating, max: 5, min: 1 %>-->
    <%= form.collection_radio_buttons :rating, [[1], [2], [3], [4], [5]], :first, :last, hide_label: true,inline: true, item_wrapper_tag: false, boolean_style: :inline do |b| %>
    <%= b.radio_button + b.label {''} %>
<% end %>
  </div>

  <div class="actions">
    <%= form.submit "Update Rating", :class => 'btn btn-info btn-sm' %>
  </div>
<% end %>
