<%= bootstrap_form_with(model: destination_rating, remote: true, local: true, class: 'ratings') do |form| %>
  <% if destination_rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(destination_rating.errors.count, "error") %> prohibited this destination_rating from being saved:</h2>

      <ul>
      <% destination_rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.number_field :rating, max: 5, min: 1 %>
  </div>

  <div class="actions">
    <%= form.submit "Update Rating" %>
  </div>
<% end %>
