<p id="notice"><%= notice %></p>

<h1>Destination Ratings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Location</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @destination_ratings.each do |destination_rating| %>
      <tr>
        <td><%= destination_rating.user_id %></td>
        <td><%= destination_rating.location_id %></td>
        <td><%= destination_rating.rating %></td>
        <td><%= link_to 'Show', destination_rating %></td>
        <td><%= link_to 'Edit', edit_destination_rating_path(destination_rating) %></td>
        <td><%= link_to 'Destroy', destination_rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Destination Rating', new_destination_rating_path %>
