<div class="row justify-content-md-center">
    <div class="col-12 col-md-6 user_forms">
        <h2>Log in</h2>

        <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form_segment">
                <p>Sign in and start planning your next vacation!</p>
                <p> demo log in email: mary@emaill.com password: test123 </p>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

                <%= f.password_field :password, autocomplete: "off" %>

                <% if devise_mapping.rememberable? -%>
                    <%= f.check_box :remember_me %>
                <% end -%>

                <div class="actions">
                    <%= f.submit "Log in" %>
                </div>
            </div>
        <% end %>
        <div class="form_segment">
            <p>Don't have an account?</p>
            <%= render "users/shared/links" %>
        </div>
    </div>
</div>
