<div class="row justify-content-md-center">
  <div class="col-12 col-md-6">
<h2>Log in</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <p>Sign in and start planning your next vacation!</p>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me %>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<p>Don't have an account?</p>
<%= render "users/shared/links" %>
</div>
</div>
