<div class="main">
    <div class="jumbotron">
        <h5>Your Top Destinations:</h5>
        <table class="table">
            <tr>
                <th>Destinations</th>
                <th>Your Rating</th>
                <th>Scout Index</th>
                <th>Currency</th>
            </tr>
        <% @destinations.each do |destination| %>
            <% @rating = get_rating(destination, current_user) %>
            <% cost_index = get_cost_index(destination) %>
            <tr>
                <td><%= link_to "#{destination.name}", "#{destination.url}", target: "_blank", rel: "nofollow" %></td>
                <!--<td><%= link_to "find flights", "https://www.expedia.com/Flights?v=b", target: "_blank", rel: "nofollow" %></td> -->
                <td><%= render 'destination_ratings/form', destination_rating: @rating %></td>
                <% scout_index_value = get_scout_index(cost_index) %>
                <td><%= scout_index_value %></td>
                <td><%= cost_index.currency %></td>
            </tr>
        <% end %>
        </table>
        <%= @currency_rates %>
    </div>
</div>
