<%= render(:partial => "layouts/header") %>

<div class="main">
    <h5>Welcome, <%= current_user.email %></h5>
    <div class="jumbotron">
        <table class="table">
            <tr>
                <th>Destinations</th>
            </tr>
        <% @destinations.each do |destination| %>
            <% @rating = get_rating(destination, current_user) %>
            <tr>
                <td><%= link_to "#{destination.name}", "#{destination.url}", target: "_blank", rel: "nofollow" %></td>
                <td><%= link_to "find flights", "https://www.expedia.com/Flights?v=b", target: "_blank", rel: "nofollow" %></td>
                <td><%= render 'destination_ratings/form', destination_rating: @rating %></td>
            </tr>
        <% end %>
        </table>
    </div>
</div>
