<%= render(:partial => "layouts/header") %>

<div class="main">
    <h5>Welcome, <%= current_user.email %></h5>
    <div class="jumbotron">
        <table class="table">
            <tr>
                <th>Destination</th>
            </tr>
            <tr>
                <td><span>result one</span><%= link_to "more info","https://www.lonelyplanet.com/", target: "_blank", rel: "nofollow" %><%= link_to "find flights", "https://www.expedia.com/Flights?v=b", target: "_blank", rel: "nofollow" %></td>
            </tr>
            <tr>
                <td><span>result one</span><%= link_to "more info","https://www.lonelyplanet.com/", target: "_blank", rel: "nofollow" %><%= link_to "find flights", "https://www.expedia.com/Flights?v=b", target: "_blank", rel: "nofollow" %></td>
            </tr>
            <tr>
                <td><span>result one</span><%= link_to "more info","https://www.lonelyplanet.com/", target: "_blank", rel: "nofollow" %><%= link_to "find flights", "https://www.expedia.com/Flights?v=b", target: "_blank", rel: "nofollow" %></td>
            </tr>
            <tr>
                <td><span>result one</span><%= link_to "more info","https://www.lonelyplanet.com/", target: "_blank", rel: "nofollow" %><%= link_to "find flights", "https://www.expedia.com/Flights?v=b", target: "_blank", rel: "nofollow" %></td>
            </tr>
            <tr>
                <td><span>result one</span><%= link_to "more info","https://www.lonelyplanet.com/", target: "_blank", rel: "nofollow" %><%= link_to "find flights", "https://www.expedia.com/Flights?v=b", target: "_blank", rel: "nofollow" %></td>
            </tr>
            <tr>
                <td><span>result one</span><%= link_to "more info","https://www.lonelyplanet.com/", target: "_blank", rel: "nofollow" %><%= link_to "find flights", "https://www.expedia.com/Flights?v=b", target: "_blank", rel: "nofollow" %></td>
            </tr>
            <tr>
                <td><span>result one</span><%= link_to "more info","https://www.lonelyplanet.com/", target: "_blank", rel: "nofollow" %><%= link_to "find flights", "https://www.expedia.com/Flights?v=b", target: "_blank", rel: "nofollow" %></td>
            </tr>
            <tr>
                <td><span>result one</span><%= link_to "more info","https://www.lonelyplanet.com/", target: "_blank", rel: "nofollow" %><%= link_to "find flights", "https://www.expedia.com/Flights?v=b", target: "_blank", rel: "nofollow" %></td>
            </tr>
            <tr>
                <td><span>result one</span><%= link_to "more info","https://www.lonelyplanet.com/", target: "_blank", rel: "nofollow" %><%= link_to "find flights", "https://www.expedia.com/Flights?v=b", target: "_blank", rel: "nofollow" %></td>
            </tr>
            <tr>
                <td><span>result one</span><%= link_to "more info","https://www.lonelyplanet.com/", target: "_blank", rel: "nofollow" %><%= link_to "find flights", "https://www.expedia.com/Flights?v=b", target: "_blank", rel: "nofollow" %></td>
            </tr>
        </table>
    </div>
</div>
